<servlet>
    <servlet-name>ParamExampleServlet</servlet-name>
    <servlet-class>com.example.ParamExampleServlet</servlet-class>
    <init-param>
        <param-name>configParam</param-name>
        <param-value>ValueFromServletConfig</param-value>
    </init-param>
</servlet>

<context-param>
    <param-name>contextParam</param-name>
    <param-value>ValueFromServletContext</param-value>
</context-param>

<servlet-mapping>
    <servlet-name>ParamExampleServlet</servlet-name>
    <url-pattern>/paramExample</url-pattern>
</servlet-mapping>
